[user]
	name = Fernando Pasik
	email = fernando@pasik.com.ar

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[credential]
	helper = osxkeychain

[push]
	default = simple
	followTags = true

[core]
	editor = code --wait

[color]
	ui = auto
	status = auto
	branch = auto
	diff = auto

[diff]
	tool = code

[merge]
	tool = code
