"*":
  "atom-beautify":
    general: {}
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "gruvbox-plus-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 16
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "c3e419a6-250a-4e79-85f8-48fdda7d7718"
  "linter-flow":
    executablePath: "./node_modules/.bin/flow"
  "linter-stylelint":
    disableWhenNoConfig: true
    enableHtmlLinting: true
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
