---
name: main
# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  install:
    name: Install Python
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Python
        uses: fernandopasik/actions/setup-python@main

  check-format:
    name: Check Format
    runs-on: ubuntu-slim
    needs: install
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Python
        uses: fernandopasik/actions/setup-python@main
      - name: Check Format
        run: make format

  lint:
    name: Lint
    runs-on: ubuntu-slim
    needs: install
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Python
        uses: fernandopasik/actions/setup-python@main
      - name: Lint
        run: make lint
